{
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "overrides": [
    {
      "files": ["*.{test,spec}.ts{,x}"],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-empty-function": "off"
      }
    }
  ],
  "parserOptions":  {
    "ecmaVersion":  2020,
    "ecmaFeatures":  {
      "jsx":  true
    },
    "sourceType":  "module"
  },
  "rules": {
    "cypress/no-unnecessary-waiting": "off",
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "no-irregular-whitespace": "off",
    "import/no-unresolved": "off",
    "import/no-named-as-default": "off",
    "lines-between-class-members": ["error", "always", {
      "exceptAfterSingleLine": true
    }],
    "object-curly-spacing": ["error", "always"],
    "quote-props": ["error", "as-needed"],
    "react/jsx-curly-spacing": ["error", {
      "spacing": {"objectLiterals": "never"}
    }, {
      "allowMultiline": false,
      "spacing": {"objectLiterals": "always"}
    }],
    "react/prop-types": "off",
    "space-before-function-paren": ["error", "always"],
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "comma",
        "requireLast": false
      }
    }],
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
