{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "plugins": ["flowtype", "react"],
  "parser": "babel-eslint",
  "extends": [
    "plugin:flowtype/recommended",
    "standard",
    "standard-jsx"
  ],
  "rules": {
    "react/jsx-no-undef": [2, { "allowGlobals": true }]
  },
  "globals": {
    "window": false,
    "global": false,
    "require": false,
    "expect": false,
    "shallow": false,
    "render": false,
    "mount": false,
    "toJson": false,
    "gen": false,
    "check": false,
    "shallowSnapshot": false,
    "SyntheticEvent": false,
    "TimeoutID": false,
    "location": false,
    "jest": false,
    "nock": false,
    "API_URI": false,
    "API_URI2": false,
    "__PRODUCTION__": false,
    "__VERSION__": false,
    "__RAVEN__": false
  }
}
